table {
    width: 100%;
}

.filter button {
    margin-left: 1em;
}

.filters {
    display: flex;
    justify-content: flex-end;
}

.filter {
    margin: 0 0 0 5px;
}

.info {
    margin-top: .75em;
    display: flex;
    justify-content: flex-start;
}

.mat-column-numberOfMonths {
    text-align: center !important;
}

.mat-column-networkLayerId {
    text-align: center !important;
}

.mat-column-marketId {
    text-align: center !important;
}