<h1>Developer Technical Exercise</h1>
<h3>Included files/assets:</h3>
<ul>
  <li>Data.xml</li>
</ul>
<h3>Exercise</h3>
<p>We would like you to design a simple web app that displays the list of scenarios from the data.xml
  file in a summary back to the user. The summary should be displayed in a method of your choosing.
  We would like to see the best of breed user interface techniques and industry best practice utilised.</p>
<h3>Summary:</h3>
<ul>
  <li>Design the application, there are no barriers or limitations to the design.</li>
  <li>Spend less than 4 hours on the exercise</li>
  <li>Microsoft web technologies should be used</li>
</ul>
<h3>Summary:</h3>
<p>Please present your deliverables (source files/solution files, etc.)in a zip file and email to the agency</p>