<div *ngIf="scenario">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar></div>
            <mat-card-title>Search Result</mat-card-title>
            <mat-card-subtitle>Scenario:{{scenario.userId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <table mat-table [dataSource]="dataSource | keyvalue:orderByKey" class="mat-elevation-z8">
                <ng-container matColumnDef="key">
                    <th mat-header-cell *matHeaderCellDef>Scenario</th>
                    <td mat-cell *matCellDef="let element"> {{element.key | titlecase}} </td>
                </ng-container>
                <ng-container matColumnDef="value">
                    <th mat-header-cell *matHeaderCellDef>Details</th>
                    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>
